
    #h::first-letter {
        font-size: 200%;
        color: hotpink;
      }

      #s {
          font-size: 100%;
          color: black;
      }

      h1 {
          background-color: white;
          color: black;
          font-size: 111px;
      }

      #horn2 {
          background-color: blue;
      }

      #horn {
        transform: scaleX(-1);
      }