* {
  text-align: center;
}

h1 {
  font-size: 45px;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  display: flex;
  align-self: center;
  color: rgb(245, 245, 245);
}

img {
  display: flex;
  width: 200px;
  align-self: center;
  margin-bottom: 15px;
}

main {
  padding: 20px;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  border: 3px inset white;
  background-color: rgb(136, 130, 130)
}

p {
  display: flex;
  align-self: center;
  font-size: 1.25em;
  margin: 10px 0;
}

section {
  position: relative;
  width: 25%;
  height: 25%;
  float: left;
  display: flex;
  flex-flow: nowrap column;
}
